/* Simple Reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Vazirmatn, sans-serif;
    line-height: 1.6;
    background: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button,
input {
    font-family: inherit;
    border: none;
    outline: none;
}
